<%- include('../layout/header', {title: title, user: user}) %>
<link href="/css/index.css" rel="stylesheet" type="text/css">

  <!-- <h1 style="margin-top: 30px">Cross Country Genetics Home</h1> -->
  <div class="page-header text-center" style="margin-top: 10px">
  		<h1 id="heading">Cross Country Genetics</h1>
  </div>
  <% if(sessionFlash && sessionFlash.message) { %>
    <div class="alert alert-<%= sessionFlash.type %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= sessionFlash.message %>
    </div>
  <% } else if (message) { %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
  <% } %>

	<br>
    <h4>Search Existing Form</h4>
    <form class="inline" method="post" action="/index/search">
      <div class="form-group" style="display: inline-block">
        <label for="donorInput">Donor Tag</label>
        <input type="text" class="form-control" placeholder="Enter donor tag name" name="donorInput">
      </div>
      <div class="form-group" style="display: inline-block">
        <label for="clientInput">Client</label>
        <input type="text" class="form-control" placeholder="Enter client name" name="clientInput"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
	<br>
	<!--<div class="btn-group" style="margin-top: 30px; margin-bottom: 10px">-->
    <!--<button type="button" class="btn btn-primary">Create New Form</button>-->
    <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--  <span class="caret"></span>-->
    <!--  <span class="sr-only">Toggle Dropdown</span>-->
    <!--</button>-->
    <!--<div class="dropdown-menu">-->
  <div class="tile col-md-3">
      <h3 class="whiteText" href="/individualDonorFileNew" id="individualDonorFile">Individual Donor File</h3>
	</div>
  <div class="tile col-md-3">
      <h3 class="whiteText" id="formAbc">Collection Form</h3>
  </div>
  <div class="tile col-md-3">
      <h3 class="whiteText" href="/firstForm" id="firstForm">Donor Stimulation & Breeding Record Form</h3>
	</div>
	<div class="tile col-md-3">
      <h3 class="whiteText" href="/caneCode" id="caneCode">Cane Code Log</h3>
	</div>
	<br>
	<div class="tile col-md-3">
      <h3 class="whiteText" href="/caneCodeLog" id="caneCodeLog">Edit Cane Code Log</h3>
	</div>
	<div class="tile col-md-3">
      <h3 class="whiteText" href="/worksheets" id="worksheets">Worksheets</h3>
	</div>
    <!--<div class="dropdown-divider"></div>-->
    <!-- <a class="dropdown-item" href="#">Reproductive Tract Exams And Treatments</a> -->
    </div>
  </div>

<%- include('../layout/footer') %>
<script src="/js/index.js"></script>
