<% if(!users.temp_password) { %>
  <tr>
    <th scope="row"><%= users.id %></th>
    <td><%= users.name %></td>
    <td><%= users.email %></td>
    <td><%= users.username %></td>
    <% if(users.is_admin) { %>
      <td>Admin</td>
    <% } else { %>
      <td>User</td>
    <% } %>

    <% if(!users.temp_password) { %>
      <!-- highlight them so admin knows there is a request pending -->
      <td><a class="btn btn-success btn-sm" href="/admin/edit/<%= users.id %>" role="button">Edit User</a></td>
    <% } %>
  </tr>
<% } else { %>
  <tr class="table-danger">
    <th scope="row"><%= users.id %></th>
    <td><%= users.name %></td>
    <td><%= users.email %></td>
    <td><%= users.username %></td>
    <% if(users.is_admin) { %>
      <td>Admin</td>
    <% } else { %>
      <td>User</td>
    <% } %>
    <% if(users.temp_password) { %>
      <!-- need to add button to edit user -->
    <td><a class="btn btn-danger btn-sm" href="/admin/edit/<%= users.id %>" role="button">Edit User</a></td>
    <% } %>
  </tr>

  <% } %>
