<tr>
  <td><%= results.clientName %></td>
  <td><%= results.donorTag %></td>
  <td><%= results.donorName %></td>
  <td><%= results.donorRegNum %></td>
  <!-- <td><%= results.freezeDate %></td>
  <td><%= results.estrusOnsetDate %></td>
  <td><%= results.breedDate %></td>
  <td><%= results.recoveryDate %></td> -->
</tr>
