<tr>
  <td id="caneCode"><%= cane.caneCode %></td>
  <td id="loc"><%= cane.loc %></td>
  <td id="freezeDate"><%= cane.freezeDate %></td>
  <td id="client"><%= cane.client %></td>
  <td id="donor"><%= cane.donor %></td>
  <td id="sire"><%= cane.sire %></td>
  <td id="g1"><%= cane.g1 %></td>
  <td id="g2"><%= cane.g2 %></td>
  <td id="g3"><%= cane.g3 %></td>
  <td id="total"><%= cane.total %></td>
  <td id="age"><%= cane.age %></td>
</tr>
