<%- include('../layout/header', {title: "Individual Donor File", user: user}) %>
<% title = "Individual Donor File" %>
<link href="/css/form.css" rel="stylesheet" type="text/css">

<form method="post" action="/individualDonorFile" id="window" name="window">
  <div id="page">
    <div id="container">
	  <br>
      <span style="text-decoration: underline" class="center"><b>Individual Donor File</b></span>
      <br>
      <table>
        <thead>
        </head>
        <tbody>
          <tr>
            <td></td>
            <td><span>LOCATION</span>
                <input type="text" id="location" name="location" value="<%= donor ? donor.donorLocation : '' %>">
            </td>
            <td></td>
          </tr>
          <tr>
            <td><span>I.D. NO. </span><input type="text" id="idNum" name="idNum" value="<%= donor ? donor.id : '' %>"></td>
            <td><span>ARRIVAL </span><input type="text" id="arrival" name="arrival" value="<%= donor ? donor.arrival : '' %>"></td>
            <td><span>DEPARTURE </span><input type="text" id="departure" name="departure" value="<%= donor ? donor.departure : '' %>"></td>
          </tr>
          <tr>
            <td><span>NAME </span><input type="text" id="name" name="name" value="<%= donor ? donor.name : '' %>"></td>
            <td><span>CALF SEX/ID </span><input type="text" id="calfID" name="calfID" value="<%= donor ? donor.calfSex : '' %>"></td>
            <td><span>DATE OF BIRTH </span><input type="text" id="dob1" name="dob1" value="<%= donor ? donor.calfDOB : '' %>"></td>
          </tr>
          <tr>
            <td><span>REGISTRATION NO. </span><input type="text" id="regNum" name="regNum" value="<%= donor ? donor.regNum : '' %>"></td>
            <td colspan=2><span class="center">DONOR IDENTIFICATION </span></td>
          </tr>
          <tr>
            <td><span>BREED </span><input type="text" id="breed" name="breed" value="<%= donor ? donor.breed : '' %>"></td>
            <td colspan=2><span>RE </span><input type="text" id="re" name="re" value="<%= donor ? donor.re : '' %>"></td>
          </tr>
          <tr>
            <td><span>DATE OF BIRTH </span><input type="text" id="dob2" name="dob2" value="<%= donor ? donor.dob : '' %>"></td>
            <td colspan=2><span>MT </span><input type="text" id="mt1" name="mt1" value="<%= donor ? donor.mt : '' %>"></td>
          </tr>
          <tr>
            <td><span>OWNER </span><input type="text" id="owner" name="owner" value="<%= donor ? donor.clientName : '' %>"></td>
            <td colspan=2><span>LE </span><input type="text" id="le" name="le" value="<%= donor ? donor.le : '' %>"></td>
          </tr>
          <tr>
            <td><span>ADDRESS </span><input type="text" id="address" name="address" value="<%= donor ? donor.clientAddress : '' %>"></td>
            <td colspan=2><span>MT </span><input type="text" id="mt2" name="mt2" value="<%= donor ? donor.mt2 : '' %>"></td>
          </tr>
          <tr>
            <td><span>TELEPHONE NO. </span><input type="text" id="telephoneNum" name="telephoneNum" value="<%= donor ? donor.clientPhone : '' %>"></td>
            <td colspan=2><span>BRAND/LOC </span><input type="text" id="brandLoc" name="brandLoc" value="<%= donor ? donor.brand : '' %>"></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <table id="numTable">
        <thead>
        </head>
        <tbody>
          <tr>
            <td><img width=18px height=18px src="images/plus.png" class="plus"><img width=18px height=18px src="images/minus.png" class="minus"></td>
            <td colspan=2><span>COLL. NO.</span></td>
            <td colspan=2><span>DATE</span></td>
            <td colspan=2><span>NO. EMBRYOS</span></td>
            <td colspan=2><span>NO. TRANS.</span></td>
            <td colspan=2><span>NO. FROZEN</span></td>
            <td colspan=2><span>NO. DEGEN.</span></td>
            <td colspan=2><span>NO. UNFERTIL.</span></td>
            <td colspan=2><span>SIRE</span></td>
            <td colspan=2><span>NO. PREG.</span></td>
          </tr>
          <tr>
            <td></td>
            <td colspan=2><input type="text" id="collNum1" name="collNum1"/></td>
            <td colspan=2><input type="text" id="collDate1" name="collDate1"/></td>
            <td colspan=2><input type="text" id="numEmbryos1" name="numEmbryos1"/></td>
            <td colspan=2><input type="text" id="numTrans1" name="numTrans1"/></td>
            <td colspan=2><input type="text" id="numFrozen1" name="numFrozen1"/></td>
            <td colspan=2><input type="text" id="numDegen1" name="numDegen1"/></td>
            <td colspan=2><input type="text" id="numUnfertil1" name="numUnfertil1"/></td>
            <td colspan=2><input type="text" id="sire1" name="sire1"/></td>
            <td colspan=2><input type="text" id="numPreg1" name="numPreg1"/></td>
          </tr>
        </tbody>
      </table>
      <input type="number" style="display: none" id="numTableRows" name="numTableRows" value="1">
      <hr>
      <table>
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><span><b>BULL SELECTION</b></span></td>
            <td><span><b>EMBRYO DISPOSITION</b></span></td>
          </tr>
          <tr>
            <td><span>COLLECTION 1</span><input type="text" id="collection1" name="collection1" value="<%= donor ? donor.bsCollectionNum : '' %>"/></td>
            <td><span style="visibility: hidden">ff</span><input type="text" id="embryoDisp1" name="embryoDisp1" value="<%= donor ? donor.bsEmbryoDisposition : '' %>"/></td>
          </tr>
          <% for(var i=1; i<6; i++){ %>
          <tr>
            <td><span>COLLECTION <%=i+1%></span><input type="text" id="collection<%=i %>" name="collection<%=i %>"/></td>
            <td><span style="visibility: hidden">ff</span><input type="text" id="embryoDisp<%=i %>" name="embryoDisp<%=i %>"/></td>
          </tr>
          <% } %>
        </tbody>
      </table>
      <hr>
      <table id="treatment">
        <thead>
        </head>
        <tbody>
          <tr>
            <td><img width=18px height=18px src="images/plus.png" class="plus"><img width=18px height=18px src="images/minus.png" class="minus"></td>
            <td colspan=2><span>DATE</span></td>
            <td colspan=2><span>RIGHT OVARY</span></td>
            <td colspan=2><span>LEFT OVARY</span></td>
            <td colspan=2><span>UT.</span></td>
            <td colspan=2><span>TUBB NO.</span></td>
            <td colspan=2><span>COMMENTS</span></td>
          </tr>
          <tr>
            <td></td>
            <td colspan=2><input type="text" class="smallLine" id="date1" name="date1"></td>
  					<td colspan=2><input type="text" class="smallLine" id="rightOvary1" name="rightOvary1"></td>
  					<td colspan=2><input type="text" class="smallLine" id="leftOvary1" name="leftOvary1"></td>
  					<td colspan=2><input type="text" class="smallLine" id="ut1" name="ut1"></td>
  					<td colspan=2><input type="text" class="smallLine" id="tubbNum1" name="tubbNum1"></td>
  					<td colspan=2><input type="text" class="smallLine" id="comments1" name="comments1"></td>
          </tr>
        </tbody>
      </table>
      <input type="number" style="display: none" id="treatmentRows" name="treatmentRows" value="1">
      <br><input type="submit" style="float: right" class="btn btn-primary" id="submit" name="submit"/>
    </div>
  </div>
</form>
<%- include('../layout/footer') %>
<script src="/js/individualDonorFile.js"></script>

<%#
if returning to form, give option to edit form, if admin, lock all inputs if not admin, and print PDF
Index: Search by id and have a dropdown to order by dates and sections to view previous forms
"Last edited by" would be nice to have
Change title of page to "Individual Donor File"
Fill out freezing information on abcForm, and have that stuff autofill on stimulation
%>
