<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%= title %></title>
      <script src="https://use.fontawesome.com/5a9dc3fa11.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href="/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
        <div class="container">

          <% if(!user.is_verified) { %>
          <div class="navbar-header">
            <a class="navbar-brand nav-link color-me" href=""><%= title %></a>
            <!-- <a class="navbar-brand nav-link color-me" href=""><img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">  <%= title %></a> -->
            <!-- <a class="navbar-brand" class="nav-link" href="/logout"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>  Login </a> -->
          </div>
          <% } %>
          <% if(user.is_verified) { %>
          <div class="navbar-header">
            <a class="navbar-brand nav-link color-me" href=""><%= title %></a>
            <!-- <li class="nav-item active"><a class="navbar-brand" class="nav-link" href=""><%= title %></a></li> -->
          </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- use logic to see if logged in -->
              <li class="nav-item active"><a class="nav-link color-me" href="/index"><i class="fa fa-home fa-lg" aria-hidden="true"></i>  Home </a></li>
              <li class="nav-item active"><a class="nav-link color-me" href="/user/edit/<%= user.id %>"><i class="fa fa-user fa-lg" aria-hidden="true"></i>  <%= user.username %></a></li>
              <% if(user.is_admin) { %>
                <li class="nav-item active"><a class="nav-link color-me" href="/admin"><i class="fa fa-wrench fa-lg" aria-hidden="true"></i>  Manage</a></li>
              <% } %>
              <li class="nav-item active"><a class="nav-link color-me" href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>  Logout </a></li>
            <% } %>
          </ul>
        </div>
      </nav>
	  <div class="container">
